.group-control {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  height: 100%;
  color: rgb(var(--gray-6));
  .button {
    color: rgb(var(--gray-6));
    &:hover {
      color: rgb(var(--blue-6));
    }
  }
}
