@sequence-background: #eeece7;
@msp-form-control-background: #f3f2ee;
@sequence-select-height: 24px;
@font-color: #332b1f;
@sequence-number-color: #ae5d04;
@font-family: "courier New", monospace;

@control-spacing: 10px;
@info-vertical-padding: 3px;

@highlighted-background: rgb(255, 102, 153);
@selected-background: rgb(51, 255, 25);
